body {
	font-family: Arial, sans-serif;
}
a {
	text-decoration: none!important;
}
.menu-wrap {
    margin-top: 10px;
    margin-bottom: 25px;
}
.menu-item {
	margin-left: 35px !important;
}
.btn-search {
	background-color: #fff;
	border: 1px solid #ccc!important;
	color: #4DAE00;
}
.btn-search:hover {
	background-color: #4DAE00;
	border: 1px solid #4DAE00!important;
	color: #fff!important;
}
.header {
	margin-bottom: 25px;
    border: 1px solid #4DAE00;
    padding: 10px 0;
}
.discount {
	margin-bottom: 25px;
    border: 1px solid #4DAE00;
    padding: 10px 0;
}
.discount p {
	margin: 0;
    font-size: 25px;
    font-weight: bold;
	text-align: center;
}
#discountEnd {
	font-weight: normal;
}
.corzina .badge {
	background-color: #4DAE00;
}
.corzina .glyphicon-shopping-cart {
	color: #4DAE00;
}
.content {
	border: 1px solid #4DAE00;
    padding: 10px 0;
	margin-bottom: 25px;
}
.footer {
	border: 1px solid #4DAE00;
    padding: 10px 0;
}
.footer .copy {
	margin: 0;
}
.footer .copy a  {
	font: 13px Arial, sans-serif;
    color: #9b9d99;
    text-decoration: none;
}
.footer .date-now {
	font-size: 15px;
    color: #9b9d99;
}
.footer .text-right {
	text-align: right;
}
.header .block-height {
	height: 90px;
}
.logo {
	width: 72px;
    height: 90px;
	float: left;
    background-image: url(../images/logo.png);
	background-position: center;
	background-repeat: no-repeat;
}
.logo2 {
	width: 135px;
    margin-left: 109px;
    margin-top: 0px;
    position: relative;
    top: 30px;
}
.logo2 p {
	font: bold 26px Arial, sans-serif;
    text-transform: uppercase;
    color: #4DAE00;
	margin: 0;
}
.search {
	margin-top: 26px;
}
.telefon ul {
	margin: 0;
	padding: 0;
}
.telefon ul li {
	list-style: none;
}
.telefon {
	margin-top: 22px;
}
.corzina {
	margin-top: 45px;
}